<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="../static/Lib/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/Lib/css/keen-dashboards.css">
    <link rel="stylesheet" href="../static/Lib/css/dc.css">
    <link rel="stylesheet" href="../static/Lib/css/introjs.css"/>


    {#     <link rel="stylesheet" href="../static/Lib/css/style.css">#}
    {#     <link rel="stylesheet" href="../static/Lib/css/uniform.default.css">#}

    <title>Stylish Portfolio - Start Bootstrap Theme</title>

    <!-- Bootstrap Core CSS -->
    <link href="../static/Lib/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../static/Lib/css/stylish-portfolio.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../static/Lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic"
          rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../static/Css/custom.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<!-- Navigation -->
<a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
<nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
        <li class="sidebar-brand">
            <a href="#top" onclick=$("#menu-close").click();>Start Bootstrap</a>
        </li>
        <li>
            <a href="#top" onclick=$("#menu-close").click();>Home</a>
        </li>
        <li>
            <a href="#about" onclick=$("#menu-close").click();>About</a>
        </li>
        <li>
            <a href="#services" onclick=$("#menu-close").click();>Services</a>
        </li>
        <li>
            <a href="#portfolio" onclick=$("#menu-close").click();>Portfolio</a>
        </li>
        <li>
            <a href="#contact" onclick=$("#menu-close").click();>Contact</a>
        </li>
    </ul>
</nav>

<!-- Header -->
<header id="top" class="header">
    <div class="text-vertical-center">
        <h1>American School Dashboard</h1>

    </div>
</header>

<!-- About -->
<section id="about" class="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Check American Donation By Chart!</h2>

            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

<!-- Services -->
<!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
<section id="services" class="services bg-primary">
    <div class="container">
        <div class="row-text-center">
            <div class="col-lg-10 col-lg-offset-1">
                <h2>Our Charts</h2>
                <hr class="small">
                <div class="col-lg-12">
                    <div class="fourth-row">

                        <div class="col-sm-4">
                            <div class="chart-wrapper">
                                <div class="chart-title">
                                    Total Donations in USD
                                </div>
                                <div class="chart-stage">
                                    <div id="total-donations-nd"></div>
                                </div>
                            </div>
                        </div>

                    </div>


                    <!-- Metric 1 -->

                    <div class="col-sm-4">
                        <div class="chart-wrapper">
                            <div class="chart-title">
                                Total Number of Donations
                            </div>
                            <div class="chart-stage" style=";
                                    position: relative;
                                    font-size: 20px;
                                    color: black;
                                    {#                   vertical-align: middle;#}
                                    {#                   text-align: center;#}
                                    padding-top: 12px;
                                    padding-bottom: 0px;">
                                <div id="number-projects-nd"></div>
                            </div>
                        </div>
                    </div>
                    <!-- Metric 1 -->

                    <div class="col-sm-2">
                        <div class="chart-wrapper">
                            <div class="chart-title">
                                Donation State
                            </div>
                            <div class="chart-stage">
                                <div id="menu-select"></div>
                            </div>
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
    </div>
    <!-- /.container -->
</section>

<!-- Callout -->
{#    <aside class="callout">#}
{#        <div class="text-vertical-center">#}
{#            <h1>Vertically Centered Text</h1>#}
{#        </div>#}
{#    </aside>#}

<!-- Portfolio -->
<div id="background">
<button class="intro_button" type="button" autofocus onclick="javascript:introJs().start();"style="
        background-color:#3182bd;
        margin-left:auto;margin-right:auto;
        display:block;margin-top:5%;
        margin-bottom:0%">Start Tour!</button>
<section id="portfolio" class="portfolio">
    <div class="container">
        <div class="row">
            <div>
                <div class="row-one">

                    <!-- Time Chart -->
                    <div class="col-lg-12">
                        <div class="third-row">
                            <div class="col-sm-8" id="donation" style="height: 317px;">
                                <div class="chart-wrapper">
                                    <div class="chart-title1"style="
                                     text-align: center;
                                     border: 3px solid #3182bd;
                                       margin-top: 10px;">
                                        Number of Donations
                                    </div>
                                    <div class="chart-stage" id="time-chart" data-step="1" data-intro="The Time Chart"
                                         style="font-weight: normal" data-position="right">
                                        <div id="time-chart"></div>
                                    </div>
                                </div>
                            </div>
                            <!-- Time Chart -->

                            <!-- Resources -->
                            <div class="col-sm-4" id="resources">
                                <div class="chart-wrapper">
                                    <div class="chart-title2"style="
                                     text-align: center;
                                     border: 3px solid #3182bd;
                                       margin-top: 10px;">
                                        Resources Type
                                    </div>
                                    <div class="chart-stage" id="time-chart" data-step="2" data-intro="The Time Chart"
                                         style="font-weight: normal" data-position="left">
                                        <div id="resource-type-row-chart"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="third-row">
                                    <div class="col-sm-8" id="map">
                                        <div class="US_MAP">
                                            <div class="chart-wrapper3"style="
                                     text-align: center;
                                     border: 3px solid #3182bd;
                                       margin-top: 10px;">
                                                Total Donations by state
                                            </div>
                                            <div class="chart-stage">
                                                <div id="funding-map" data-step="3"
                                                     data-intro="Mapping donations by state"
                                                     style="font-weight: normal" data-position="right"></div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-sm-4" id="four">
                                    <div class="chart-wrapper">
                                        <div class="chart-title4"style="
                                     text-align: center;
                                     border: 3px solid #3182bd;
                                       margin-top: 10px;">
                                            Poverty Level
                                        </div>
                                        <div class="chart-stage" id="time-chart" data-step="4"
                                             data-intro="The Time Chart" style="font-weight: normal"
                                             data-position="left">
                                            <div id="poverty-level-row-chart"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Poverty -->
                            <div class="col-lg-12">
                                  <div class="col-sm-4" id="seven">
                                        <div class="chart-wrapper" id="bar1-chart" data-step="5"
                                             data-intro="The Time Chart" style="font-weight: normal"
                                             data-position="center">
                                            <div class="chart-title6"style="
                                     text-align: center;
                                     border: 3px solid #3182bd;
                                       margin-top: 10px;">
                                                Number Of Donors
                                            </div>
                                            <div class="chart-stage"style="margin-left: 10px;">
                                                <div id="number-donors-chart"></div>
                                            </div>
                                        </div>
                                    </div>



                                    <div class="col-sm-4" id="five">
                                        <div class="chart-wrapper" id="time-chart" data-step="6"
                                             data-intro="The Time Chart" style="font-weight: normal"
                                             data-position="right">
                                            <div class="chart-title5"style="
                                     text-align: center;
                                     border: 3px solid #3182bd;
                                       margin-top: 10px;">
                                                Funding Status
                                            </div>
                                            <div class="chart-stage" style="margin-left: 10px;">
                                                <div id="funding-chart"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- funding Pie -->

                                    <!-- funding Pie -->
                                    <div class="col-sm-4" id="six">
                                        <div class="chart-wrapper" id="time-chart" data-step="7"
                                             data-intro="The Time Chart" style="font-weight: normal"
                                             data-position="center">
                                            <div class="chart-title6"style="
                                     text-align: center;
                                     border: 3px solid #3182bd;
                                       margin-top: 10px;">
                                                Donations By Teacher Prefix
                                            </div>
                                            <div class="chart-stage"style="margin-left: 15px;">
                                                <div id="donations-by-teacher-prefix-chart"></div>
                                            </div>
                                        </div>
                                    </div>

                                <!-- funding Pie -->
                            </div>

                    </div>
                </div>
            </div>

            </div>
            <!-- /.col-lg-10 -->
        </div>
        </div>
        <!-- /.row -->
</section>
</div>    <!-- /.container -->
</section>



<!-- Map -->
<section id="contact" class="map">
   <div style="width: 100%"><iframe width="100%" height="300"
                                    src="http://www.maps.ie/create-google-map/map.php?width=100%&amp;height=300&amp;hl=en&amp;q=old%20court%20lodge%20firhouse+(American-Donation)&amp;ie=UTF8&amp;t=h&amp;z=14&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
       <a href="http://www.mapsdirections.info/pt/crie-um-google-map/">Adicione o Google Map para o site</a> on
       <a href="http://www.mapsdirections.info/pt/">Calcular Rota</a></iframe></div><br />
</section>

<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h4><strong>American School Donation</strong>
                </h4>
                <p>## Old Court Lodge
                    <br>Firhouse Dublin24</p>
                <ul class="list-unstyled">
                    <li><i class="fa fa-phone fa-fw"></i> (01) 123-4567</li>
                    <li><i class="fa fa-envelope-o fa-fw"></i> <a href="vishaldara@yahoo.com" target="_blank">vishaldara@yahoo.com</a>
                    </li>
                </ul>
                <br>
                <ul class="list-inline">
                    <li>
                        <a href="https://www.facebook.com/vishal.dara" target="_blank"><i
                                class="fa fa-facebook fa-fw fa-3x"></i></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/vishaldara" target="_blank"><i
                                class="fa fa-twitter fa-fw fa-3x"></i></a>
                    </li>
                    <li>

                        <hr class="small">
                        <p class="text-muted">Copyright &copy; Your Website 2014</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    </div>
    <a id="to-top" href="#top" class="btn btn-dark btn-lg"><i class="fa fa-chevron-up fa-fw fa-1x"></i></a>
</footer>

<!-- jQuery -->
<script src="../static/Lib/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="../static/Lib/js/bootstrap.min.js"></script>

<!-- Custom Theme JavaScript -->
<script>
    // Closes the sidebar menu
    $("#menu-close").click(function (e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });
    // Opens the sidebar menu
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });
    // Scrolls to the selected menu item on the page
    $(function () {
        $('a[href*=#]:not([href=#],[data-toggle],[data-target],[data-slide])').click(function () {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {
                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
    //#to-top button appears after scrolling
    var fixed = false;
    $(document).scroll(function () {
        if ($(this).scrollTop() > 250) {
            if (!fixed) {
                fixed = true;
                // $('#to-top').css({position:'fixed', display:'block'});
                $('#to-top').show("slow", function () {
                    $('#to-top').css({
                        position: 'fixed',
                        display: 'block'
                    });
                });
            }
        } else {
            if (fixed) {
                fixed = false;
                $('#to-top').hide("slow", function () {
                    $('#to-top').css({
                        display: 'none'
                    });
                });
            }
        }
    });
    // Disable Google Maps scrolling
    // See http://stackoverflow.com/a/25904582/1607849
    // Disable scroll zooming and bind back the click event
    var onMapMouseleaveHandler = function (event) {
        var that = $(this);
        that.on('click', onMapClickHandler);
        that.off('mouseleave', onMapMouseleaveHandler);
        that.find('iframe').css("pointer-events", "none");
    }
    var onMapClickHandler = function (event) {
        var that = $(this);
        // Disable the click handler until the user leaves the map area
        that.off('click', onMapClickHandler);
        // Enable scrolling zoom
        that.find('iframe').css("pointer-events", "auto");
        // Handle the mouse leave event
        that.on('mouseleave', onMapMouseleaveHandler);
    }
    // Enable map zooming with mouse scroll when the user clicks the map
    $('.map').on('click', onMapClickHandler);
</script>
<script src="../static/Js/jquery.min.js"></script>
<script src="../static/Js/bootstrap.min.js"></script>
<script src="../static/Js/crossfilter.js"></script>
<script src="../static/Js/d3.js"></script>
<script src="../static/Js/dc.js"></script>
<script src="../static/Js/queue.js"></script>
<script src="../static/Js/intro.js" type="text/javascript"></script>

<script src="../static/Js/keen.min.js"></script>
<script src='../static/Js/graph.js' type='text/javascript'></script>

</body>

</html>
